@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<!DOCTYPE html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title> LOG IN </title>
</head>
<html>
<body>
    <form method="post">
        Email: <input type="email" name="email" required /><br/><br />
        Password: <input type="password" name="password" required /><br/><br />
        <button type="submit">Submit</button>
        <button type="reset">Clear</button>
    </form>
</body>
</html>